<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">

</head>
<body>
<div class="text-center">
    <h1>Login page</h1>
    <form method="post" th:action="@{/login}" class="mb-3">

        <div class="input-group mt-3 mb-3 justify-content-center">
            <span class="input-group-text">Login:</span>
            <input type="text" name="username" placeholder="Login...">
        </div>
        <div class="input-group mt-3 mb-3 justify-content-center">
            <span class="input-group-text">Password:</span>
            <input type="password" name="password" placeholder="Password...">
        </div>

        <button class="btn btn-primary" type="submit">Log in</button>
    </form>
    <p>
        No account yet? <a th:href="@{/registration}">Register here</a>
    </p>
</div>
</body>
</html>